#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}
.article{
    display: flex;
    height: 100%;
    justify-content: space-around;

}
.divTextHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
   /*  width: 41%; */
}
.divTextHeader .name {
    margin-top: -25px;
}
.divPhoto{
    flex-direction: column;
    justify-content: center;
    display: flex;

}
.filter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: 15px;
}
.first-trier{
    margin-left: 98px;
}

i{
    color: #FAFAFA;
    font-size: 24px;
    transform: rotate(180deg);
    
}
.arrow-populaire{
    background-color: #901C1C;
    width: 150px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    align-items: baseline;
    border-radius: 8px;
    
    
}
#trier{
    
    width: 150px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
  
}

.Photograph{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
    object-fit: cover;
    /* right: 9rem;
    position: absolute;
    top: 8.9rem;*/
} 

.divButton{
    display: flex;
    justify-content: center;
    flex-direction: column;
   /*  width: 26%; */
}

.contact-button {

    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    color: #000;
    background-color: #db8876;
    outline: none;
    border: 2px solid #901C1C;
}
/* Media video et image css  */
.photograph-media-cards{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
    
}

.PhotographMedia{
    height: 350px;
    width: 450px;
    border-radius: 8px;
    margin: 30px;
    
    object-fit: cover;
    /* right: 9rem;
    position: absolute;
    top: 8.9rem;*/
} 

@media (max-width: 1440px) {
.PhotographMedia{
  width: 350px;
 } 
}

@media (max-width: 1024px) {
    .PhotographMedia{
      width: 250px;
     } 
    }

video{
    object-fit: cover;
}
.video-card{
    width: 450px;
    height: 350px;
    border-radius: 8px;
    margin: 30px;
    object-fit: cover;
    
}
@media (max-width: 1440px) {
    .video-card{
        width: 350px;
    } 
}
@media (max-width: 1024px) {
    .video-card{
        width: 250px;
    } 
}


.photographeText{
    display: flex;
    justify-content: space-around;
    margin: 30px;
    margin-top: -5%;
    align-items: center;

}

.like-number{
    color: #901C1C;
    font-size: 24px;
    margin-left: auto;
}

.heart-icon{
    width: 24px;
    height: 24px;
    padding-left: 7px;
}


.likeAndprice{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-around;
  background-color:#DB8876;
  width: 300px;
  border-radius: 5px;
  position: fixed;
  right: 45px;
  bottom: 0px;
 

}


.heart-footer{
    width: 18px;
    height: 20px;
    color: #000;
    padding-right: 65px;
}

#total-like{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
}

#div_prix_day{
    font-size: 24px;
    color: #000;
    font-weight: bold;
    padding-right: 10px;
}


.dropbtn {
    background-color: #901C1C;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    align-items: baseline;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #901C1C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
    top: 58px;
    left: 205px;
    width: 170px;
    cursor: pointer;
  }
  
  .dropdown-content p {
    color: #FAFAFA;
    padding: 12px 40px;
    text-decoration: none;
    display: block;
    border-bottom: #FAFAFA;
    border-width: 1px;
    justify-content:flex-start;
    display: flex;
    margin-right: 20px;
    cursor: pointer;
  }

  .arrow-populaire{
    background-color: #901C1C;
    width: 150px;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-left: 15px;
    align-items: baseline;
    border-radius: 8px;
    
    
}
.dropdown-content p:hover {background-color: #901C1C;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #901C1C;}